rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // ⚠️ MODO INSEGURO DE DESARROLLO
    // Permite leer y escribir en CUALQUIER documento a CUALQUIER persona.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
